{%  extends 'sil08VitrineBundle:Default:layout.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block panier %}
{% endblock %}

{% block meilleuresVentes %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h3>Licence Professionnelle Métiers de l'Informatique et Applications Web</h3>
        <h3>Module MI-5 Framework et développement rapide en PHP</h3>
        <h4>Projet site de e-commerce avec le framework Symfony</h4>
        <h4>Auteur: Etienne Estrangin</h4>
    </div>
{% endblock %}