{%  extends 'sil08VitrineBundle:Administration:layoutAdministration.html.twig' %}

{% block title %}
    Catégories
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="jumbotron">
                <h2>Consultation des articles par catégorie</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="panel panel-info">
                <table class="table table-striped">
                    <div class="panel-heading">
                        <h3 class="panel-title">Liste des catégories</h3>
                    </div>
                    <thead>
                    <tr>
                        <th>Intitule</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.intitule }}</td>
                            <td>
                                <a class="btn btn-info" href="{{ path('administration_articles_par_categorie', {'id': categorie.id}) }}">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <br>
                                    Voir les articles
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}