<div class="panel panel-info">
    <table class="table table-striped">
        <div class="panel-heading">
            <h3 class="panel-title">Récapitulatif de votre panier</h3>
        </div>
        <thead>
        <tr>
            <th>Nombre d'articles</th>
            <th>Montant total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ nbArticles }}</td>
            <td>{{ montantPanier }}</td>
        </tr>
        </tbody>
    </table>
</div>