{%  extends 'sil08VitrineBundle:Administration:layoutAdministration.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h3>Bienvenue dans la partie réservée à l'administration</h3>
    </div>
{% endblock %}